<#include "/header.ftl.html">
<#include "/navigation.ftl.html">

<div class="main-page">
	<div class="jumbotron">
		<div class="container">
			<h1>${ competicao?eval.nome}: Remover Equipa</h1>
			<p>Remover equipa da competição.</p>	
		</div>
	</div>
	<div class="container">

		<h4>Deseja remover a equipa '${equipa?eval.nome}' da competição '${competicao?eval.nome}'?</h4>

		<form method="POST" action="/competicoes/${competicao?eval.id}/deleteEquipa/${equipa?eval.id}">
			
			<div class="btn-group">
				<button type="submit" class="btn btn-outline-secondary">Remover</button>
				<a class="btn btn-outline-secondary" href="javascript: history.go(-1)">Voltar</a>
			</div>

		</form>

	</div>
</div>


<#include "/footer.ftl.html">
