<#include "/header.ftl.html">
<#include "/navigation.ftl.html">

<div class="main-page">
	<div class="jumbotron">
		<div class="container">
			<h1>Nova Modalidade</h1>
			<p>Gestão de modalidades desportivas</p>	
		</div>
	</div>
	<div class="container">

		<#if display_errors??>
			<#assign errors = display_errors?eval>
		</#if>

		<form method="POST" action="/modalidades/add" class="needs-validation" novalidate>

			<div class="form-group">
				<label for="designacao">Designação</label>
				<input type="text" class="form-control <#if errors?? && errors.designacao??>is-invalid</#if>" id="designacao" name="designacao" <#if errors?? && errors.designacao??>value=${errors.designacao.valor}</#if> placeholder="Insira uma designação">
				
				<#if errors?? && errors.designacao??>
				<div class="invalid-feedback">
					${errors.designacao.mensagem}
				</div>
				</#if>

			</div>
			
			<div class="btn-group">
				<input type="submit" class="btn btn-outline-secondary" value="Adicionar"></input>
				<a class="btn btn-outline-secondary" href="javascript: history.go(-1)">Voltar</a>
			</div>

		</form>

	</div>
</div>


<#include "/footer.ftl.html">
