<#include "/header.ftl.html">
<#include "/navigation.ftl.html">

<div class="main-page">
	<div class="jumbotron">
		<div class="container">
			<h1>Remover ${modalidade?eval.designacao}</h1>
			<p>Gestão de modalidades desportivas</p>	
		</div>
	</div>
	<div class="container">

		<h4>Deseja remover a modalidade '${modalidade?eval.designacao}'?</h4>

		<form method="POST" action="/modalidades/${modalidade?eval.id}/delete">
			
			<div class="btn-group">
				<button type="submit" class="btn btn-outline-secondary" href="/modalidades/${modalidade?eval.id}/edit">Remover</button>
				<a class="btn btn-outline-secondary" href="javascript: history.go(-1)">Voltar</a>
			</div>

		</form>

	</div>
</div>


<#include "/footer.ftl.html">
