<#include "/header.ftl.html">
<#include "/navigation.ftl.html">

<div class="main-page">
	<div class="jumbotron">
		<div class="container">
			<h1>Modalidades</h1>
			<p>Gestão de modalidades desportivas</p>	
		</div>
	</div>
	<div class="container">

		<div id="message"></div>

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Designação</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<#list modalidades?eval as modalidade>
				<tr>
					<th scope="row">${modalidade.id}</th>
					<td class="col-md-8">${modalidade.designacao}</td>
					<td>
						
						<div class="btn-group">
						<a class="btn btn-outline-secondary" href="/modalidades/${modalidade.id}">Ver</a>
						<a class="btn btn-outline-secondary" href="/modalidades/${modalidade.id}/edit">Editar</a>
						<a class="btn btn-outline-secondary" href="/modalidades/${modalidade.id}/delete">Remover</a>
						</div>

					</td>
				</tr>
				</#list>

			</tbody>
		</table>

		<a class="btn btn-outline-secondary" href="/modalidades/add">Adicionar</a>

	</div>
</div>

<script type="text/javascript">

	var entries = new URLSearchParams(window.location.search).entries();

	for(pair of entries) {

		if (pair[0] == 'created') {
			
			document.getElementById('message').innerHTML = '<div class="alert alert-success" role="alert">Modalidade \"' + pair[1] + '\" criada com sucesso!<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
		}

		if (pair[0] == 'updated') {
			
			document.getElementById('message').innerHTML = '<div class="alert alert-success" role="alert">Modalidade \"' + pair[1] + '\" atualizada com sucesso!<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
		}

		if (pair[0] == 'deleted') {
			
			document.getElementById('message').innerHTML = '<div class="alert alert-success" role="alert">Modalidade \"' + pair[1] + '\" removida com sucesso!<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
		}
	}

</script>


<#include "/footer.ftl.html">